# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\internships_summer2021\jetBrains\ExpressionConverter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
